body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 20px;
}

.header-image {
    height: 300px;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    color: white;
    width: 100px;
    padding: 5px;
}

.contact .sign-up {
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

.info-container {
    display: flex;
    gap: 20px;
}

.info-image {
    display: flex;
    border: 1px;
    border-style: solid;
    border-color: purple;
    align-self: center;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    background-color: #E5E7EB;
}

.quote-h {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.quote-p {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.contact {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

a, .head-cont p {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
}