body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1f2937;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.header-image {
    height: 300px;
    margin-left: 50px;
    flex-shrink: 1;
}

.sign-up {
    background-color: #3882f6;
    border: none;
    border-radius: 4px;
    color: white;
    width: 100px;
    padding: 5px;
}

.contact .sign-up {
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
    padding-left: 115px;
    padding-right: 115px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}

.info-container {
    display: flex;
    gap: 20px;
}

.info-image {
    display: flex;
    border: 2px;
    border-style: solid;
    border-color: purple;
    max-width: 250px;
    border-radius: 8px;
}

.info-div p{
    max-width: 250px;
    text-align: center;
}

.header-logo {
    width: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    background-color: #E5E7EB;
    padding: 100px 150px;
    flex-wrap: wrap;
}

.quote-h {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    align-self: flex-end;
}

.quote-p {
    padding: 0px;
    margin: 0px;
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    align-self: center;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 100px 100px;
    border-radius: 8px;
    padding: 15px 0px;
}

.contact, .footer {
    color: white;
}

h3 {
    margin-bottom: 0px;
}

.contact-div p {
    margin-top: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0px;
}

a{
    text-decoration: none;
}

a, .head-cont p {
    font-size: 18px;
    color: #E5E7EB;
}

.head-cont p{
    margin-top: 0px;
    margin-bottom: 10px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    margin-bottom: 0px;
}